body {
  background: #0e0e0e;
  color: #eee;
  font-family: monospace;
}

button {
  margin: 5px;
  padding: 8px;
}

pre {
  background: #000;
  height: 300px;
  overflow-y: auto;
  padding: 10px;
}

canvas {
  border: 1px solid #444;
}

